&lt;div class=&quot;asset_use&quot;&gt;Horizontal Rules (HRs) are content separators. The &lt;strong&gt;Dotted Rule&lt;/strong&gt; is used to separate 'like' content, while the &lt;strong&gt;Solid Rules&lt;/strong&gt; separate sections of 'different' types of content. The 'Light' solid rule can be used in cases where content is grouped within the same section.&lt;/div&gt;

&lt;center&gt;&lt;div class=&quot;hair_padding&quot;&gt;&lt;img src=&quot;../../images/hr.png&quot; alt=&quot;Horizontal-Rules&quot; /&gt;&lt;/div&gt;&lt;/center&gt;

&lt;div class=&quot;asset_use&quot;&gt;&lt;strong&gt;Usage:&lt;/strong&gt; Separates content within and outside of containers
&lt;/div&gt;

&lt;span class=&quot;sg-pattern-head&quot;&gt;Vertical Rules&lt;/span&gt;

&lt;center&gt;&lt;div class=&quot;spec_example_padding&quot;&gt;&lt;p&gt;&lt;img src=&quot;../../images/vr.png&quot; alt=&quot;Vertical-Rules&quot;  name=&quot;button_spec&quot; id=&quot;button_spec&quot; /&gt;&lt;/div&gt;&lt;/center&gt;

&lt;div class=&quot;asset_use&quot;&gt;&lt;strong&gt;Usage:&lt;/strong&gt; Follow same as above &ndash; use to designer's discretion
&lt;/div&gt;

&lt;div class=&quot;asset_download&quot;&gt;Download: &lt;a href=&quot;../../downloads/hr.psd&quot;&gt;HRs PSD&lt;/a&gt;, &lt;a href=&quot;../../downloads/vr.psd&quot;&gt;VRs PSD&lt;/a&gt;&lt;/div&gt;