&lt;!--#Main-colors-explained--&gt;
&lt;div class=&quot;asset_use&quot;&gt;This vibrant palette is friendly and approachable which aligns with Edmunds' clean and modern interface elements. As part of the global updates to simplify the color palette and better reflect the brand, below makes up the &lt;strong&gt;RGB&lt;/strong&gt;, &lt;strong&gt;CMYK&lt;/strong&gt; and &lt;strong&gt;Pantone&lt;/strong&gt; colors for our style guideline. Colors can also be set at shades of 25%, 50% and 75%.&lt;/div&gt;

&lt;div class=&quot;center_swatch&quot;&gt;
	&lt;!--#colors-swatches--&gt;
	&lt;div id=&quot;color_holder&quot; class=&quot;color_holder&quot;&gt;
		&lt;div class=&quot;blue_p&quot;&gt;&lt;/div&gt;
		&lt;div class=&quot;color_name&quot;&gt;
		&lt;span class=&quot;color_title&quot;&gt; Primary Blue &lt;/span&gt; 
		&lt;div&gt;#0072BC&lt;br&gt;C:100 M:45 Y:0 K:10&lt;br&gt;Pantone 2945 C&lt;p&gt;&lt;p&gt;USAGE: Main buttons, CTAs, Text links&lt;/div&gt; 
	&lt;/div&gt;
&lt;/div&gt;

&lt;!--#colors-swatches--&gt;
&lt;div id=&quot;color_holder&quot; class=&quot;color_holder&quot;&gt;
	&lt;div class=&quot;blue_p&quot;; style=&quot;background: #00AAFD;&quot;&gt;&lt;/div&gt;
	&lt;div class=&quot;color_name&quot;&gt;
		&lt;span class=&quot;color_title&quot;&gt; Secondary Blue &lt;/span&gt; 
		&lt;div&gt;#00AAFD&lt;br&gt;C:70 M:10 Y:0 K:0&lt;br&gt;Pantone 2925 C&lt;p&gt;&lt;p&gt;USAGE: Global navigation elements, Drop down arrows, Dynamic actions, Hover states&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;!--#colors-swatches--&gt;
&lt;div id=&quot;color_holder&quot; class=&quot;color_holder&quot;&gt;
	&lt;div class=&quot;blue_p&quot;; style=&quot;background: #58A200;&quot;&gt;&lt;/div&gt;
	&lt;div class=&quot;color_name&quot;&gt;
		&lt;span class=&quot;color_title&quot;&gt; Green &lt;/span&gt; 
		&lt;div&gt;#58A200&lt;br&gt;C:70 M:0 Y:100 K:9&lt;br&gt;Pantone 362 C&lt;p&gt;&lt;p&gt;USAGE: Pricing (PP, TCO, incentives, calculators), Lead buttons, Special Offers&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;!--#colors-swatches--&gt;
&lt;div id=&quot;color_holder&quot; class=&quot;color_holder&quot;&gt;
	&lt;div class=&quot;blue_p&quot;; style=&quot;background: #FFCC32;&quot;&gt;  &lt;/div&gt;
	&lt;div class=&quot;color_name&quot;&gt;
		&lt;span class=&quot;color_title&quot;&gt; Yellow &lt;/span&gt; 
		&lt;div&gt;#FFCC32&lt;br&gt;C:0 M:10 Y:100 K:0&lt;br&gt;Pantone 109 C&lt;p&gt;&lt;p&gt;USAGE: Specs and info, Browse by, Research, Compare vehicles, Features&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;!--#colors-swatches--&gt;
&lt;div id=&quot;color_holder&quot; class=&quot;color_holder&quot;&gt;
	&lt;div class=&quot;blue_p&quot;; style=&quot;background:  #FF6633;&quot;&gt;  &lt;/div&gt;
	&lt;div class=&quot;color_name&quot;&gt;
		&lt;span class=&quot;color_title&quot;&gt; Orange &lt;/span&gt; 
		&lt;div&gt;#FF6633&lt;br&gt;C:0 M:61 Y:97 K:0&lt;br&gt;Pantone 158 C&lt;p&gt;&lt;p&gt;USAGE: Research, Secondary buttons, Inventory and results, Ratings listing&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;!--#colors-swatches--&gt;
&lt;div id=&quot;color_holder&quot; class=&quot;color_holder&quot;&gt;
	&lt;div class=&quot;blue_p&quot;; style=&quot;background:  #bf2d37;&quot;&gt;  &lt;/div&gt;
	&lt;div class=&quot;color_name&quot;&gt;
		&lt;span class=&quot;color_title&quot;&gt; Primary Red &lt;/span&gt; 
		&lt;div&gt;#BF2D37&lt;br&gt;C:0 M:100 Y:79 K:20&lt;br&gt;Pantone 187 C&lt;p&gt;&lt;p&gt;USAGE: Editorial, Buying guide, Auto shows&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;!--#colors-swatches--&gt;
&lt;div id=&quot;color_holder&quot; class=&quot;color_holder&quot;&gt;
	&lt;div class=&quot;blue_p&quot;; style=&quot;background:  #FF1929;&quot;&gt;  &lt;/div&gt;
	&lt;div class=&quot;color_name&quot;&gt;
		&lt;span class=&quot;color_title&quot;&gt; Alert Red &lt;/span&gt; 
		&lt;div&gt;#FF1929&lt;br&gt;C:0 M:97 Y:100 K:0&lt;br&gt;Pantone 485 C&lt;p&gt;&lt;p&gt;USAGE: Message and form errors, negative actions, etc.&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;!--#colors-swatches--&gt;
&lt;div id=&quot;color_holder&quot; class=&quot;color_holder&quot;&gt;
	&lt;div class=&quot;blue_p&quot;; style=&quot;background: #333333;&quot;&gt;  &lt;/div&gt;
	&lt;div class=&quot;color_name&quot;&gt;
		&lt;span class=&quot;color_title&quot;&gt; Dark Grey &lt;/span&gt; 
		&lt;div&gt;#333333&lt;br&gt;C:33 M:3 Y:0 K:90&lt;br&gt;Pantone 433 C&lt;p&gt;&lt;p&gt;USAGE: Page headers, Main body copy&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;!--#colors-swatches--&gt;
&lt;div id=&quot;color_holder&quot; class=&quot;color_holder&quot;&gt;
	&lt;div class=&quot;blue_p&quot;; style=&quot;background: #555555;&quot;&gt;  &lt;/div&gt;
	&lt;div class=&quot;color_name&quot;&gt;
		&lt;span class=&quot;color_title&quot;&gt; Secondary Dark Grey &lt;/span&gt; 
		&lt;div&gt;#555555&lt;br&gt;C:23 M:2 Y:0 K:77&lt;br&gt;Pantone 432 C&lt;p&gt;&lt;p&gt;USAGE: Section headers, Secondary editorial, Social, Car news, Best cars list&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;!--#colors-swatches--&gt;
&lt;div id=&quot;color_holder&quot; class=&quot;color_holder&quot;&gt;
	&lt;div class=&quot;blue_p&quot;; style=&quot;background: #999999;&quot;&gt;  &lt;/div&gt;
	&lt;div class=&quot;color_name&quot;&gt;
		&lt;span class=&quot;color_title&quot;&gt; Mid Grey &lt;/span&gt; 
		&lt;div&gt;#999999&lt;br&gt;C:5 M:0 Y:0 K:45&lt;br&gt;Pantone 430 C&lt;p&gt;&lt;p&gt;USAGE: Global navigation drop down&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;!--#colors-swatches--&gt;
&lt;div id=&quot;color_holder&quot; class=&quot;color_holder&quot;&gt;
	&lt;div class=&quot;blue_p&quot;; style=&quot;background: #cccccc;&quot;&gt;  &lt;/div&gt;
	&lt;div class=&quot;color_name&quot;&gt;
		&lt;span class=&quot;color_title&quot;&gt; Light Grey &lt;/span&gt; 
		&lt;div&gt;#CCCCCC&lt;br&gt;C:3 M:0 Y:0 K:32&lt;br&gt;Pantone 429 C&lt;p&gt;&lt;p&gt;USAGE: Main Dotted and Solid hairlines&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;!--#colors-swatches--&gt;
&lt;div id=&quot;color_holder&quot; class=&quot;color_holder&quot;&gt;
	&lt;div class=&quot;blue_p&quot;; style=&quot;background: #E5E5E5;&quot;&gt;  &lt;/div&gt;
	&lt;div class=&quot;color_name&quot;&gt;
		&lt;span class=&quot;color_title&quot;&gt; Secondary Light Grey &lt;/span&gt; 
		&lt;div&gt;#E5E5E5&lt;br&gt;C:2 M:0 Y:0 K:18&lt;br&gt;Pantone 428 C&lt;p&gt;&lt;p&gt;USAGE: Container Stroke and Solid hairlines&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;!--#colors-swatches--&gt;
&lt;div id=&quot;color_holder&quot; class=&quot;color_holder&quot;&gt;
	&lt;div class=&quot;blue_p&quot;; style=&quot;background: #F2F2F2;&quot;&gt;  &lt;/div&gt;
	&lt;div class=&quot;color_name&quot;&gt;
		&lt;span class=&quot;color_title&quot;&gt; Tertiary Light Grey &lt;/span&gt; 
		&lt;div&gt;#F2F2F2&lt;br&gt;C:0 M:0 Y:0 K:11&lt;br&gt;Pantone 427 C&lt;p&gt;&lt;p&gt;USAGE: Background colors, Buttons&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;!--#colors-swatches--&gt;
&lt;div id=&quot;color_holder&quot; class=&quot;color_holder&quot;&gt;
	&lt;div class=&quot;blue_p&quot;; style=&quot;background: #FFFFFF;&quot;&gt;  &lt;/div&gt;
	&lt;div class=&quot;color_name&quot;&gt;
		&lt;span class=&quot;color_title&quot;&gt; White &lt;/span&gt; 
		&lt;div&gt;#F2F2F2&lt;br&gt;C:0 M:0 Y:0 K:11&lt;br&gt;Pantone 427 C&lt;p&gt;&lt;p&gt;USAGE: Background colors, CTAs&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;


&lt;/div&gt;

&lt;div class=&quot;asset_download&quot;&gt;Download: &lt;a href=&quot;../../downloads/edmunds_digital_color_palette.aco&quot;&gt;Photoshop RGB Swatches&lt;/a&gt;, &lt;a href=&quot;../../downloads/edmunds_digital_color_palette.psd&quot;&gt;RGB PSD Palette&lt;/a&gt;  /  &lt;a href=&quot;../../downloads/edmunds_print_color_palette.ase&quot;&gt;Illustrator CMYK Swatches&lt;/a&gt;, &lt;a href=&quot;../../downloads/edmunds_print_color_palette.ai&quot;&gt;CMYK AI Palette&lt;/a&gt;&lt;/div&gt;